<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ./head %>

    <!-- <script src="/scripts/typedjs.js"></script> -->
    <title>Chakravyuh</title>
    <style>
      img {
        max-width: 100%;
        max-height: auto;
      }
    </style>
  </head>
  <body>
    <header><%- include ./header %></header>
    <div class="container-fluid">
      <div class="jumbotron row">
        <div class="col-sm-6">
          <h1>Welcome<br />to<br />Chakravyuh!</h1>
        </div>
        <div class="col-sm-6">
          <img src="https://picsum.photos/600/400?random" alt="" />
        </div>
      </div>
    </div>

    <footer><%- include ./footer %></footer>
  </body>
</html>
