body {
  /* The image used */
  background-image: url("/images/chakravyuh.jpg");

  /* Full height */

  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
